header {
    background: $primary;
    .logo {
        text-align: left;
    }
    img {
        width: 18%;
        margin: 4px 0;
        
    }
    .navbar {
        width: 40%;
        li {
            text-align: center;
            @include phone {
                width: 50%;
                border: 1px solid $light;
            }
        }
        a {
            color: $light;
            display: block;
            padding: 25px 0px;
            line-height: 30px;
            font-size: 20px;
            transition: all 0.3s;

            &:hover,
            &:focus {
                opacity: 0.5;
                
                @include phone {
                    background: $hover;
                    color: $light;
                }
            }

            @include phone {
                padding: 12px 0px;
            }
        }

        @include pad {
            width: 70%;
        }

        @include phone {
            width: 100%;
            max-height: 0px;
            flex-wrap: wrap;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0;
            transform: translateY(100%);
            background: $primary;
            overflow: hidden;
            transition: max-height 0.7s;
        }
    }

    .menu-btn {
        color: $light;
        display: none;
        font-size: 30px;

        @include phone {
            display: flex;
        }
    }

    @include phone {
        position: relative;
        .show {
            max-height: 136px;
            text-align: center;
        }
    }
}

footer {
    background: $primary;
    color: $light;
    padding-top: 48px;
    
    
    a {
        color: $light;
        transition: all 0.5s ease;
        &:hover {
            opacity: 0.5;
        }
    }
    .contact {
        text-align: left;
        border-bottom: 1px solid $light;
        padding-bottom: 32px;
        margin-bottom: 32px;

        @include phone {
            // max-width: 348px;
        }
    }
    
    .contact__navbar {
        line-height: $lh-s;
        font-size: $font-s;
        justify-content: space-between;
        margin-bottom: 36px;

        @include phone {
            display: none;
        }
    }
    .contact__mail,
    .contact__phone {
        a {
            font-family: "Noto Sans TC";
            line-height: $lh-l;
            font-size: $font-l;

            @include phone {
                line-height: $lh-s;
                font-size: $font-s;
            }
        } 
        span {
            line-height: $lh-l;
            font-size: $font-l;

            @include phone {
                    line-height: $lh-s;
                    font-size: $font-s;
            }
        }
        
    }

    .social {
        text-align: right;
        width: 20%;
        
        img {
            width: 48px;

            @include pad {
               width: 40px;
            }

            @include phone {
                width: 24px;
            }
        }

        @include pad {
            max-width: 30%;
        }
    }

    .copyright {
        flex-wrap: wrap;
        padding-bottom: 32px;
        text-align: center;
        p {
            line-height: $lh-s;
            font-size: $font-s;
            @include phone {
                width: 100%;
            }
        }

        @include phone {
            text-align: left;
        }
    }

    .copyright__links {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 20%;

        a {
            line-height: 21px;
            font-size: 14px;
        }
    }
}

