.path-container {
    margin-top: 24px;
    text-align: left;
    a {
        
        color: $dark;
        line-height: $lh-s;
        font-size: $font-s;

        &:hover {
            color: $primary;
        }
    }

    .current {
        color: $primary;
    }

}

.current-tags {
    &-container {
        text-align: left;
    }
    margin-bottom: 8px;
    a {
        line-height: $lh-m;
        font-size: $font-m;
        color: $primary;
        font-weight: bold;
        padding-right: 15px;

        &:hover {
            opacity: 0.5;
        }

        @include pad {
            line-height: $lh-s;
            font-size: $font-s;
        }
    }
}

.blog-info__content {
    text-align: left;
    width: 70%;
    padding-right: 12px;
    h1 {
        line-height: $lh-xl;
        font-size: $font-xl;
        font-weight: normal;
        border: none;
        padding: 0;
        margin: 0;

        @include phone {
            line-height: $lh-m;
            font-size: $font-m;
        }
    }

    h2 {
        line-height: $lh-m;
        font-size: $font-m;
        color: $dark;
        font-weight: 500;
        margin-bottom: 16px;;
        padding-bottom: -16px;

        @include phone {
            line-height: $lh-s;
            font-size: $font-s;
        }
    }

    .blog-info__post {

        p {
            margin-bottom: 40px;
            color: $other;

            @include pad {
                margin-bottom: 24px;
            }

            @include pad {
                margin-bottom: 16px;
            }
        }

        img {
            width: 100%;
            margin-bottom: 8px;

            @include pad {
                margin-bottom: 16px;
            }

            @include phone {
                margin-bottom: 8px;
            }
        }
        
    }

    .share {
        border-bottom: 1px solid $date;
        padding-bottom: 16px;
        margin-bottom: 24px;

        p {
            font-weight: bold;
        }

        li {
            padding: 0 16px 0 0;
        }

        img {
            width: auto;
            height: 24px;
            margin: 0;
        }

        a:hover {
            opacity: 0.5;
        }

        @include pad {
            width: 100%;
        }

        @include phone {
            display: none;
        }
    }

    .blog-info__pages {
        text-align: left;
        margin-bottom: 80px;
        a {
            color: $dark;

            &:hover {
                opacity: 0.5;
            }
        }

        @include pad {
            width: 100%;
        }

        @include phone {
            display: none;
        }
    }

    @include phone {
        width: 100%;
        padding-right: 0;
    }
}

.tags {
    width: 30%;

    .tags__title {
        text-align: left;
        color: $primary;
        font-weight: bold;
        line-height: $lh-s*2;
        font-size: $font-s*2;
        align-items: center;

        span {
            line-height: $lh-s*2;
            font-size: $font-s*2;
            font-weight: bold;
            padding-right: 12px;

            @include pad {
                line-height: $lh-s;
                font-size: $font-s;
            }
        }
        
    }

    ul {
        text-align: left;
    }

    a {
        color: $primary;
        line-height: $lh-m;
        font-size: $font-m;
        font-weight: bold;
        padding: 0 12px;

        &:hover {
            opacity: 0.5;
        }

        @include pad {
            line-height: $lh-s;
            font-size: $font-s;
        }
    }

    @include pad {
        line-height: $lh-s;
        font-size: $font-s;
    }

    @include phone {
        display: none;
    }
}

