.blog-navbar {
    background: $secondary;
    color: $light;
    line-height: 30px;
    font-size: 20px;
    text-align: center;

    ul {
        width: 45%;

        @include pad {
            width: 80%;
        }

        @include phone {
            width: 100%;
        }
    }

    a {
        color: $light;
        display: block;
        &:hover {
            opacity: 0.5;
        }
    }

    .search {
        @include phone {
            display: none;
        }
    }

}

.blog-content {
    margin-bottom: 80px;
    text-align: left;

    h1 {
        text-align-last: left;
        line-height: $lh-xl;
        font-size: $font-xl;
        margin: 96px 0px 32px 0px;
        padding-left: 16px;
        border-left: 8px solid $primary;
        font-weight: bold;

        @include phone {
            line-height: $lh-m;
            font-size: $font-m;
        }
    }

    li:not(:last-child) {
        margin-bottom: 60px;

        @include pad {
            margin-bottom: 24px;
        }
    }

    a {
        position: relative;

        &:hover {
            box-shadow: 4px 4px 6px 0px $shadow;
        }

        @include phone {
            flex-direction: column;
            justify-content: center;
        }
    }

    img {
        width: 50%;
        padding-right: 12px;

       

        @include phone {
            width: 100%;
            padding: 0;
        }
    }

    .blog-content__text {
        width: 50%;
        padding: 0 12px;

        @include phone {
            width: 100%;
            padding: 0;
        }
    }

    h2 {
        color: $secondary;
        line-height: $lh-s*2;
        font-size: $font-s*2;

        @include pad {
            line-height: $lh-m;
            font-size: $font-m;
        }
    }

    h3 {
        color: $dark;
        line-height: 30px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        font-weight: 500;

        span {
            line-height: $lh-s;
            font-size: $font-s;
        }

        @include pad {
            line-height: $lh-s;
            font-size: $font-s;
            margin-bottom: 4px;
        }
    }

    p {
        color: $other;

        @include phone {
            display: none;
        }
    }

    .more {
        color: $secondary;
        line-height: $lh-l;
        font-size: $font-l;
        font-weight: 900;
        position: absolute;
        bottom: 0;
        right: 0;

        @include pad {
            color: $other;
            line-height: $lh-s;
            font-size: $font-s;
            font-weight: 400;
        }
    }
}