.banner-p2 {
    margin-bottom: 80px;
    li {
        width: 100%;
    }
    .banner-l {
        width: 100%;
        height: 296px;
        background: url(../images/product-header-3.png) center no-repeat;
        background-size: cover;
        background-position: center;

        @include pad {
            background-image: url(../images/product-header-sm-3.png);
        }

        @include phone {  
            height: 136px;
        }
    }
    .banner-r {
        width: 100%;
        height: 296px;
        background: url(../images/product-header-4.png) center no-repeat;
        background-size: cover;
        background-position: center;

        @include pad {
            background-image: url(../images/product-header-sm-4.png);
        }

        @include phone {
            height: 136px;
        }
    }

    @include pad {
        margin-bottom: 40px;
    }
}

.product-p2 {
    h1 {
        line-height: 63px;
        font-size: 42px;
        font-weight: 500;

        @include phone {
            line-height: $lh-m;
            font-size: $font-m;
        }
    }
    h2 {
        line-height: $lh-s*2;
        font-size: $font-s*2;
        margin-bottom: 32px;

        @include phone {
            line-height: $lh-m;
            font-size: $font-m;
        }
    }
    .product__list {
        flex-wrap: wrap;
        margin: 0 -12px;

        &>li {
            width: 33.333%;
            height: auto;
            margin-bottom: 80px;
            padding: 0 12px;

            @include pad {
                width: 50%;
                height: auto;
                margin-bottom: 40px;
            }

            @include phone {
                width: 100%;
                height: auto;
                margin-bottom: 48px;
            }
        }
        img{
            width: 100%;
        }
        .product__details {
            max-width: 100%;
            line-height: $lh-m;
            font-size: $font-m;
        }
        .product__price {
            color: $primary;
            font-weight: 500;
        }
        .block1 {
            width: 24px;
            height: 24px;
            background-color: $block;
            margin-right: 8px;
            border-radius: 4px;
        }
        .block2 {
            width: 24px;
            height: 24px;
            background-color: $hover;
            border-radius: 4px;
        }
    }
}