.stores {
    h1 {
        text-align-last: left;
        line-height: $lh-xl;
        font-size: $font-xl;
        margin: 96px 0px 32px 0px;
        padding-left: 16px;
        border-left: 8px solid $primary;
        font-weight: bold;

        @include pad {
            margin-top: 80px;
        }

        @include phone {
            line-height: $lh-m;
            font-size: $font-m;
        }
    }
    .selector {
        text-align-last: left;
        margin-bottom: 40px;
        label {
            margin-right: 16px;
            line-height: $lh-m;
            font-size: $font-m;
        }
        select {
            line-height: $lh-l*0.5;
            font-size: $font-l*0.5;
            padding: 6px 0 6px 12px;
            width: 25%;

            @include pad {
                width: 40%;
            }
        
            @include phone {
                width: 60%;
            }
        }
    }
}

.stores__list {
    margin: 0 -12px 80px -12px;
    flex-wrap: wrap;
    
    &>li {
        padding: 0 12px;
        width: 33.333%;
        margin-bottom: 48px;

        @include pad {
            width: 50%;
        }

        @include phone {
            width: 100%;
        }
    }
    img {
        width: 100%;
    }
    h3 {
        line-height: $lh-m;
        font-size: $font-m;
        padding: 8px 0px 8px 24px;
        border-left: 1px solid $s-border;
        border-right: 1px solid $s-border;
        border-bottom: 1px solid $s-border;
    }

    a {
        transition: all .3s ease;
        display: block;
        line-height: 27px;
        font-size: 19px;
        color: $light;
        background: $dark;
        text-align: center;
        padding: 16px 0;
        border: 1px solid $s-border;

        &:hover {
            background: $light;
            color: $dark;
            
        }
    }
}

.stores__info {
    border-left: 1px solid $s-border;
    border-right: 1px solid $s-border;
    padding-top: 16px;
    text-align-last: left;
    li {
        
        margin: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
    span {
        font-size: $font-m;
        padding-right: 8px;
    }
    p {
        line-height: 30px;
        font-size: 20px;
    }
}