.faq-container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 12px;
    h1 {
        line-height: $lh-xl;
        font-size: $font-xl;
        margin: 96px 0px 32px 0px;
        padding-left: 16px;
        border-left: 8px solid $primary;
        font-weight: bold;

        @include phone {
            line-height: $lh-m;
            font-size: $font-m;
        }
    }

    h2 {
        line-height: $lh-m;
        font-size: $font-m;
        margin-bottom: 24px;
        font-weight: bold;
    }

    h3 {
        line-height: 30px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    ul {
        width: 60%;
        margin-bottom: 80px;

        @include pad {
            width: 100%;
        }
    }

    li:not(:last-child) {
        margin-bottom: 32px;
    }
}