.container {
    margin: 0 auto;
    padding: 0 12px;
    max-width: 1296px;
    text-align: center;
}

.d-flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: start;
}

.mb-8 {
    margin-bottom: 8px;
}

.ml-n12 {
    margin-left: -12px;
}

.pr-8 {
    padding-right: 8px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-12 {
    padding-left: 12px;
}

.pr-20 {
    padding-right: 20px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-16 {
    padding-bottom: 16px;
}

.text-Noto {
    font-family: "Noto Sans TC";
}