$lh-s: 24px;
$lh-m: 36px;
$lh-l: 54px;
$lh-xl: 72px;
$lh-2xl: 96px;
$font-s: 16px;
$font-m: 24px;
$font-l: 36px;
$font-xl: 48px;
$font-2xl: 64px;

$primary: #AA0601;
$secondary: #650300;
$dark: #000;
$light: #fff;
$info: #FBF2F2;
$shadow: #DEE2E6;
$hover: #B75929;
$date: #707070;
$border: #DCDCDC;
$block: #5F3E2D;
$other: #555555;
$s-border: #00000020;